# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
.playwright

# next
.next
out

# misc
.DS_Store
*.log
.env.local
.env.*.local

# vercel
.vercel

# prevent TS Next config from being committed (Vercel only supports .js/.mjs)
next.config.ts
